<!DOCTYPE <html>
<head>
	<title>Project</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script  src="https://code.jquery.com/jquery-3.2.1.slim.js"  integrity="sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg="  crossorigin="anonymous"></script>
  
      
  
</head>
<body>
	
	<!--for sorting the distance-->
     <% var i,j;  if(data1[0]['dist']!="0"){      for(j=0;j<5;j++){         var num="";         var n= data1[j]['dist'].indexOf(" ");         for(i=0;i<n;i++){              if(data1[j]['dist'][i]!=",")              num = num+data1[j]['dist'][i];         }         data1[j]['dist']=Number(num);      }        for ( i = 0; i < 4; i++){          for ( j = 0; j < 4-i; j++){            if (data1[j]['dist'] > data1[j+1]['dist'])            {                var temp = data1[j];                data1[j] =  data1[j+1];                data1[j+1] = temp;            }          }        }     } %>

	<div  class="container">
		<h1>Property Finder</h1>
		<h2>Enter Your Location</h2>
		<form action="/search" method="POST">
			<div class="form-group">
				<label for="exampleInputlocation">Location</label>
			    <input type="text" class="form-control" <% if(query!=null){ %> value="<%= query %>" <% } %> name="currentlocation" id="exampleInputlocation" aria-describedby="emailHelp" placeholder="  Name of Place or Lat & Long" readonly>
			    <small id="Help" class="form-text text-muted">Calculate the distance between your location and the given property</small>
			</div>
			
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		
		<div class="row">
			<div class="col-md-3">Name</div>
			<div class="col-md-2">Area (in sq.feet)</div>
			<div class="col-md-2">Price (in Rs.)</div>
			<div class="col-md-3">Location</div>
			<%if(data1[4]["dist"]!="0"||data1[2]["dist"]!="0"||data1[1]["dist"]!="0"||data1[0]["dist"]!="0"){ %>
    			<div class="col-md-2">
    				Distance (in Km)
    				<i class="fa fa-sort-desc" aria-hidden="true"></i>
    			</div>
	    	<% }%>
		</div>
		
		<% data1.forEach(function(property) { %>
    		<div class="row">
    			<div class="col-md-3"><%= property["name"] %></div>
    			<div class="col-md-2"><%= property["area"] %></div>
    			<div class="col-md-2"><%= property["cost"] %> </div>
    			<div class="col-md-3"><%= property["location"] %></div>
    			<%if(property["dist"]!="0"){ %>
	    			<div class="col-md-2">
	    				<%= property["dist"] %>
	    			</div>
	    		<% }%>
    		</div>
	    <% }) %>
	    
	    <br>
	    <br>
	    <a href="/">Search For Another Loaction</div>
	</div>
	
	
	
</body>
</html>