
<!DOCTYPE <html>
<head>
	<title>Project</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script  src="https://code.jquery.com/jquery-3.2.1.slim.js"  integrity="sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg="  crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByHUY8tGxwZHprJhVbJ6ddS066__4DXos&libraries=places"></script>
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
   	<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>  
  	
</head>
<body>
	<% var i,j;	if(data1[0]['dist']!="0" && typeof(data1[0]['dist'])=="string" ){		for(j=0;j<5;j++){			var num="";			var n= data1[j]['dist'].indexOf(" ");			for(i=0;i<n;i++){				if(data1[j]['dist'][i]!=",")				num = num+data1[j]['dist'][i];			}		data1[j]['dist']=Number(num);		}	} %> 
	

	<div  class="container ">
		<h1>Property Finder</h1>
		<h2>Your Location</h2>
		<form class="clearfix" action="/search" method="GET">
			<div class="form-group">
				<label for="exampleInputlocation">Location</label>
			    <input type="text" class="form-control"  <% if(query!=null){ %> value="<%= query %>" <% } %>  name="currentlocation" id="exampleInputlocation" aria-describedby="emailHelp" placeholder="  Name of Place or Lat & Long" readonly>
			    <small id="Help" class="form-text text-muted">Calculate the distance between your location and the given property</small>
			</div>
		<button type="submit" class="btn btn-primary">Reload</button>
		<a href="/" ><button type="button" class=" float-right btn btn-outline-secondary">Reset</button></a>
		</form>
		<h3>Or</h3>
		<h3>To Compare Two Locations </h3>
		<form action="/compare" method="POST">
			<div class="form-group">
				<label for="autocomplete">Enter Location 2</label>
			    <input type="text"  onFocus="geolocate()" class="form-control"  name="currentlocation2" id="autocomplete" aria-describedby="emailHelp" placeholder="Enter your address">
			    <small id="Help" class="form-text text-muted">Calculate the distance between your location and the given property</small>
			</div>
		</form>
		
		
		<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
	        <thead>
	            <tr>
	                <th>Name</th>
	                <th>Area (sq.feet)</th>
	                <th>Price (in Rs.)</th>
	                <th>Location</th>
	                <%if(data1[4]["dist"]!="0"||data1[2]["dist"]!="0"||data1[1]["dist"]!="0"||data1[0]["dist"]!="0"){ %>
    					<th>Distance (in Km)</th>
	    			<% }%>
	            </tr>
	        </thead>
			<tbody>
	            <% data1.forEach(function(property) { %>
	    			<tr>
	    				<td><%= property["name"] %></td>
		    			<td><%= property["area"] %></td>
		    			<td><%= property["cost"] %></td>
		    			<td><%= property["location"] %></td>
		    			<%if(property["dist"]!="0"){ %>
			    			<td><%= property["dist"] %></td>
			    		<% }%>
	    			</tr>
   			 	<% }) %>
	        </tbody>
	    </table>
	</div>
	<script>
		 var placeSearch, autocomplete;
      function initAutocomplete() { 
        autocomplete = new google.maps.places.Autocomplete(
            (document.getElementById('autocomplete')),
            {types: ['geocode']});
        autocomplete.addListener('place_changed', fillInAddress);
      }
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
       function fillInAddress() {
        // Get the place details from the autocomplete object.
        $('form').submit();
      }
	
	
		 $(document).ready(function() {
		    $('#example').DataTable();
		} );
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVkyLnYRqJ4mpImuUdWt6EABnh0zrDHzY&libraries=places&callback=initAutocomplete"
        async defer></script>
	
</body>
</html>